/*CSS properties for the buttons in the application.*/
.button{
    -fx-pref-height: 30;
    -fx-max-height: 30;
    -fx-min-height: 30;
    -fx-pref-width: 30;
    -fx-max-width: 30;
    -fx-min-width: 30;
    -fx-padding: 5 10 5 10;
    -fx-font-family: 'Pangolin';
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-text-fill: #F1F1F2;
    -fx-background-color: #1995AD;
}

/*Specific CSS properties for the buttons when user hovers buttons.*/
.button:hover{
    -fx-text-fill: #A1D6E2;
    -fx-background-color: #BCBABE;
}

/*Specific CSS properties for the enter button.*/
#enterButton{
    -fx-pref-height: 30;
    -fx-max-height: 30;
    -fx-min-height: 30;
    -fx-pref-width: 70;
    -fx-max-width: 70;
    -fx-min-width: 70;
    -fx-padding: 5 10 5 10;
}

/*CSS properties for the textfield objects in the application.*/
.text-field{
    -fx-border-color: gray;
    -fx-border-style: solid;
    -fx-border-width: 2;
    -fx-min-width: 150;
    -fx-max-width: 150;
    -fx-pref-width: 150;
    -fx-font-family: 'Pangolin';
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

/*CSS properties for the root node in the application.*/
.root{
    -fx-background-image: url("hexagon_texture.jpg");
}